<!DOCTYPE html>
<html lang="en">

<head>
  <title>Menu Page</title>

  <!-- <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script> -->
</head>

<body>
  <header>
    <h3>Food App Name</h3>
    <a href='/'>Home</a>
    <a href='/food_items'>Menu</a>
    <a href='/about'>About</a>
    <a href='/carts'>Place An Order</a>
    <a href='/login'>Login</a>
    <!-- <a href='/register'>Register</a> -->
    <!-- <a href='/customer_orders'>customer_orders</a> -->
  </header>
<br>
  <img src="cheers.jpg" alt="Friends doing cheers with coffee" height="15%" width="100%"/>
  <h1>About</h1>
  <h3><u>Location</u></h3>

  <p>123 Anywhere Street</p>
  <p>Toronto, ON Canada</p>
  <p>N5A 3T3</p>

  <h3><u>Hours</u></h3>

<h4>Breakfast</h4>
  <p>Monday - Saturday 9:00am - 12:00pm</p>
  <h4>Lunch & Dinner</h4>
  <p>Monday - Thursday 12:00pm - 9:00pm</p>
  <p>Friday, Saturday 12:00pm - 9:30pm</p>
   <p>Sunday 12:00pm - 8:30pm</p>



  <h3><u>Contact</u></h3>
  <h4>Phone</h4>
  <p>519-123-4321</p>
  <h4>Email</h4>
  <p>fooddeliveryappname@gmail.com</p>
</body>

<footer>
  <a href='/'>Home</a>
  <a href='/food_items'>Menu</a>
  <a href='/about'>About</a>
  <a href='/cart'>Place An Order</a>
  <a href='/login'>Login</a>
  <!-- <a href='/register'>Register</a>
  <a href='/customer_orders'>customer_orders</a> -->

  <p>© 2022 Suzumura, Sindhu, Wilhelm. All rights reserved.</p>
</footer>

</html>
