<!DOCTYPE html>
<html lang="en">
<head>
  <title>Your Cart</title>

   <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
   <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
   <!-- <link rel="stylesheet" href="/styles/main.css" type="text/css" /> -->
   <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

   <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>
<body>
  <div class="item-wrapper">
    <a href="/food_items">see menu</a>
    <% if (cartItems.length === 0) { %>
      <p class="empty">You did not put any items in the cart yet.</p>
    <% } %>
    <% for(let item of cartItems) { %>
      <div class="food-item">
        <div class="item-information">
          <h5 class="name"><%= item.name %></h5>
          <p class="price">$<%= item.price %></p>
          <p class="quantity">quantity: <%= item.quantity %></p>
        </div>
        <img class='item-image' src='<%= item.image %>' height="150px" width="200px"/>
      </div>
    <% } %>
  </div>
</body>
</html>
