<style>
  .right-menu{
    z-index: 10;
    position: absolute;
    right: 0;
    /* top: 0; */
    /* width: 200px; */
    /* background-color: blue; */
    display: flex;
    flex-direction: row;
  }
</style>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Coffee Day</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href='/'>Home <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href='/food_items'>Menu</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href='/about'>About</a>
      </li>
    <li class="nav-item">
      <a class="nav-link" href='/carts'>place an Order</a>
    </li>
  </li>
  <div class="right-menu">
  <li class="nav-item">
    <a class="nav-link" href='/login'>Login</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href='/Register'>Register</a>
  </li>
</div>

    </ul>

  </div>
</nav>

