<!DOCTYPE html>
<html lang="en">

<head>
  <title>Menu Page</title>

  <!-- <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script> -->
  
</head>

<body>
  <header>
    <h3>Food App Name</h3>
    <a href="/">Home</a>
  <a href='/food_items'>Menu</a>
  <a href='/about'>About</a>
  <a href='/carts'>Place An Order</a>
  <a href='/login'>Login</a>
  <a href='/register'>Register</a>
  <a href='/customer_orders'>customer_orders</a>

  </header>
  <br>
  <img src="coffee-shop.jpg" alt="A coffee shop counter" height="15%" width="100%"/>
  <h1>Welcome</h1>
  <h4><a href="/food_items">View Our Menu</a></h4>
</body>

<footer>
  <a href='/'>Home</a>
  <a href='/food_items'>Menu</a>
  <a href='/about'>About</a>
  <a href='/login'>Login</a>
  <a href='/register'>Register</a>
  <a href='/customer_orders'>customer_orders</a>
  <p>© 2022 Suzumura, Sindhu, Wilhelm. All rights reserved.</p>
</footer>

</html>
