<!DOCTYPE html>
<html lang="en">

<head>
  <title>Create New Item</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <!-- <link rel="stylesheet" href="/styles/main.css" type="text/css" /> -->
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <main style="margin: 1em;">
    <h3>Create New Item</h3>
    <form class="form-inline" action="/admin_order" method="post">
      <div class="form-group mb-2">
        <label for="new_item_name">Name</label>
        <input class="form-control" type="text" name="new_item_name" placeholder="Enter item's name" style="width: 300px; margin: 1em">
      </div>
    </form>
    <form class="form-inline" action="/admin_order" method="post">
      <div class="form-group mb-2">
        <label for="new_item_price">Price</label>
        <input class="form-control" type="text" name="new_item_price" placeholder="How much??" style="width: 300px; margin: 1em">
      </div>
    </form>
    <form class="form-inline" action="/admin_order" method="post">
      <div class="form-group mb-2">
        <label for="new_item_description">Description</label>
        <input class="form-control" type="text" name="new_item_description" placeholder="About new item" style="width: 300px; margin: 1em">
      </div>
    </form>
    <form class="form-inline" action="/admin_order" method="post">
      <div class="form-group mb-2">
        <label for="new_item_image">Item Image</label>
        <input class="form-control" type="text" name="new_item_image" placeholder="Item picture??" style="width: 300px; margin: 1em">
      </div>
    </form>
    <form class="form-inline" action="/admin_order" method="post">
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </main>
  

</body>

</html>
