.order-information {
  border: solid 1px #ccc;
  padding: 10px;
}

.order-information .order-header {
  margin: 0;
  border-bottom: solid 1px;
  width: 18em;
}

.food-detail {
  margin-left: 1em;
}

.food-detail .food-item-name {
  display: inline-block;
  width: 12em;
}
